.container ul {
    padding-left: 40px;
}

a {
    text-decoration: none;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.duyuru_container ul {
    padding-left: 40px; 
}

#notts{
    -webkit-transition: all 5s;
    transition: all 5s;
    
}


#cumhuriyet_div {
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 0, 0, 10);
}

#cumhuriyet_div h1 {
    color: black;
    transition: all 5s;
    font-weight: 900;
}

#cumhuriyet_div h1:hover{
    text-shadow: 0 0 10px rgba(255, 0, 0, 1);
    
}

#cumhuriyet_div p {
    font-weight: 900;
    color: black;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.discord-container {
    margin-top: 20px; 
}

#index_maincontent {
    width: 600px;
}

#main-content h1 {
    margin-bottom: 20px; 
}
.logo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}

#yil100{
    width: 450px;
    height: 250px;
    box-shadow: 0 10 100px rgba(0, 0, 0, 1);
    
}

#c_foto {
    width: 130px;
    height: 75px;
    position: fixed;
    right: 30px;
    top: 20px;
    border: 2px solid black;
}

a {
    color: black;
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
}

header {
    background-color: rgb(190,22,35);
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 28px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#main-content {
    flex: 1;
    padding: 40px 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.discord-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.discord-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.discord-button:hover {
    background-color: #f03636;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: red;
    color: #fff;
}

table th, table td ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    background-color: rgb(51, 43, 44);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    #index_maincontent {
        width: 400px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #yil100 {
        width: 300px;
        height: 150px;
    }
    #kutluolsun {
        font-size: 20px;
    }
    #c_foto {
        width: 100px;
        height: 45px;
        position: fixed;
        right: 30px;
        top: 20px;
        border: 2px solid black;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    #kutluolsun {
        font-size: 18px;
    }

    .discord-container {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    .discord-button {
        padding: 8px 16px;
    }
    #index_maincontent {
        width: 200px;
    }
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #yil100 {
        width: 250px;
        height: 100px;
    }
}
.duyuru_container {
    max-height: 400px; 
    overflow-y: auto;  
    transition: all 2s;
}

.duyuru_container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
    
}



#countdown {
    font-size: 23px;
    font-weight: bold;
}

.duyuru_container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin-bottom: 20px; 
}

.duyuru_container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.duyuru_container p {
    font-size: 16px;
    color: #333; 
}


.duyuru_container + .duyuru_container {
    margin-top: 20px;
}