:root {
    --MainFontFamily: 'Inter', sans-serif;
}
body{
    font-family: var(--MainFontFamily);
    font-size: 30px;
    line-height: 1.5;
    color: #000;
    background-color: orange;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 600;
    text-align: center;
}

img#wumpus{
    margin: 100px auto 100px auto;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

img#james {
    width: 600px;
    height:800px;
    border-radius: 20px;
}

p#p3 {
    margin-top: 100px;
    margin-bottom: 400px;
}

p#p4 {
    margin-top: 300px;
}

img#berkvemustafa {
    margin-top: 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 70px 70px white;
}

section#discord {
    background-color: darkorange;
    width: fit-content;
    margin: 150px auto 0 auto;
    padding: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

section#discord h1{
    text-shadow: 0px 0px 80px black;
}

section#discord button{
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 700;
    color: orange;
    cursor: pointer;
    transition: 0.3s;
}

section#discord button:hover{
    border: 1px solid orange;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
    box-shadow: 0px 0px 1000px 1000px black;
}


section#github {
    background-color: darkorange;
    width: fit-content;
    margin: 150px auto 150px auto;
    padding: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

section#github h1{
    text-shadow: 0px 0px 80px black;
}

section#github button{
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 700;
    color: orange;
    cursor: pointer;
    transition: 0.3s;
}

section#github button:hover{
    border: 1px solid orange;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
    box-shadow: 0px 0px 1000px 1000px black;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    img#wumpus{
        margin: 100px auto 100px auto;
        width: 400px;
        height: 400px;
    }
    img#james {
        margin-bottom: 100px;
        width: 300px;
        height:400px;
    }
    p#p3 {
        margin-top: 50px;
        margin-bottom: 200px;
    }
    p#p4 {
        margin-top: 150px;
    }
    img#berkvemustafa {
        width: 400px;
        height: 250px;
        margin-top: 70px;
        border-radius: 15px;
        box-shadow: 0px 0px 70px 70px white;
    }
    section#discord {
        width: 400px;
        margin: 75px auto 0 auto;
        padding: 20px;
    }
    section#discord h1{
        font-size: 50px;
    }
    section#discord button{
        padding: 10px 20px;
        font-size: 20px;
    }
    section#github {
        width: 400px;
        margin: 75px auto 75px auto;
        padding: 20px;
    }
    section#github h1{
        font-size: 50px;
    }
    section#github button{
        padding: 10px 20px;
        font-size: 20px;
    }
}
